# Database (PostgreSQL)
# Разверните PostgreSQL и укажите ссылку для подключения
# Пример: postgresql://user:password@localhost:5432/dbname
DATABASE_URL=postgresql://user:password@localhost:5432/postgres

# Parser
TARGET_SIDES=100 
MAX_CONSTRUCTIONS=100 # Максимум конструкций для парсинга (0 = все)
REQUEST_DELAY=0.02 # Задержка между запросами к карточкам (секунды)

# Output
OUTPUT_JSON=result.json # Имя файла для сохранения JSON-данных
OUTPUT_XLSX=result.xlsx # Имя файла для сохранения XLSX-данных
